*{
    font-family: 'Times New Roman', Times, serif ;
}
H1{
    text-align: center;
    text-transform: capitalize;
    color:bisque;
}

*{
    font-family: 'Times New Roman', Times, serif ;
}

#outer{
    font-size: 50px;
    border:10px solid brown ;
}

#inner{
    border-width: 10px;
    border-style: dotted;
    font-size: 25px;
    text-align: center;
    background-color: aqua;
}

#box{
    height: 100px;
    width: 200px;
    border-width: 10px;
    border-style: solid;
    border-color: blueviolet;
    background-color: pink;
}