body{
    text-align: center;
}

div{
    height: 100px;
    width: 150px;
    display: inline-block;
    border:2px solid black;

}

#container{
    width:600px;
    height: 600px;
    display: flex;
    /* flex-direction: row-reverse; */
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

#box1{
    background-color: aqua;
}

#box2{
    background-color: pink;
    height: 200px;
}

#box3{
    background-color: darkkhaki;
    height: 75px;
}

#box4{
    background-color: indianred;
}

#box5{
    background-color: slateblue;
}