div{
    background-color: aqua;
    height:100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
}

/* #box1{
    position: static;
}

#box2{
    position: relative;
    top:20px;
    left:10px;
    z-index: 1;
}

#box3{
    position: absolute;
    top: 500px;
    left:20px;
}

#box4{
    position: fixed;
    top: 50px;
    z-index: 4;
} */

body{
    background-image: url(tiger.jpg);
    background-size: cover;
}
#box1{
    background-image: url("tiger.jpg");
    background-size: auto;
    background-repeat: no-repeat;
}