h3{
    color:blueviolet;
}



button{
    color:red;
    background-color: white;
}

body{
    background-color:lightblue;

}

h4{
    color:#A8D0DB
}
/* 
*{

} */

#head1{
color:aqua
}

#head2{
    color:chartreuse
    }



.myclass{
    color:deeppink
}

p{
    text-align:center;
    text-decoration: underline;
    color:brown;
}

h1{
    text-align: center;
   
}

a{
    text-decoration: red,none;
}

h5{
    font-weight: 900;
}