div{
    /* background-color: aquamarine;
    display: inline; */
    height: 100px;
    width: 100px;
    padding: 25px;
    display: inline-block;
}

button{
    display:block;
}

#box2{
  /* display: none; */
  visibility: hidden;
}

div{
    background-color: rgba(255, 0, 100,0.7);
}