*body{
    background-color: beige;
}

h1{
    color:red;
    background-color: aquamarine;
}

h2{
    color:blue;
    background-color: grey;
}

button{
    color:aquamarine;
    background-color: blueviolet;
}

